*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;

    &.dark-mode {
        background-color: #121212;
        color: #ffffff;
    }
}

.container {
    text-align: center;
    width: 100%;

    header {
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;

        button#toggleDarkMode {
            position: absolute;
            left: 0;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
    
            &:hover {
                background-color: #0056b3;
            }
        }

        h1 {
            margin: 1.5rem;
            font-size: 1.5rem;
        }
    }

    .inputBar {
        display: flex;
        justify-content: center;
        margin: auto;

        form {
            margin: 1rem;

            #nameInput {
                width: 80%;
            }

            input, button {
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            button {
                background-color: #007BFF;
                color: white;
                cursor: pointer;

                &:disabled {
                    background-color: #cccccc;
                    cursor: not-allowed;
                }
                

            }
        }
    }

    #marsImagesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .marsImageCard {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            width: 200px;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    } 
}

@media (min-width: 500px) {
    .container{
        #marsImagesContainer {
            max-width: 80%;
            margin: auto;
        }
    }
}